*{
    margin: 0px;
    padding: 0px;
}

/* signInStuff section */
/* signInStuff section */
.signInStuff{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 30px; */
    margin: 100px;
}

.signInStuff div h1{
    display: block;
    width: 200px;
}

.signData, .signResult{
    /* width: 100%; */
    margin: 50px 0px 0px 0px;
    /* padding-left: 50%; */
}

/* signInStuff section */
/* signInStuff section */

/* localStorageStuff section */
/* localStorageStuff section */

.localStorageStuff{
    margin-bottom: 200px;
}

/* localStorageStuff section */
/* localStorageStuff section */



/* lвавіаіввocalStorageStuff section */
/* localStorageStuff section */

.modalBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalBody h1{
    font-size: 50px;
    font-weight: normal;
}
.regForm{
    font-size: 30px;
}
/* localStorageStuff section */
/* localStorageStuff section */

